@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ведомость</h1>
    <p class="lead">Система учёта знаний учащихся</p>
    <p>Курсовой проект по дисциплине: "Технологии программирования"</p>
</div>